PORT=4000
FRONTEND_BASE_URL=

# DB
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SYNC=
DB_TIMEZONE=Z

# JWT
JWT_SECRET=

# Collector (optional, default 5 minutes)
COLLECTOR_INTERVAL_MS=300000

# Discord (optional)
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
DISCORD_STATE_SECRET=
DISCORD_BOT_TOKEN=
